body {
/* display: none; */
        /* Приховати весь вміст за замовчуванням */
        background: #333;
        font-family: "Caveat", sans-serif;
    }

    #snow {
        overflow: hidden;
        position: relative;
        --size: 1;
        --fallDuration: 10s;
        --swayDuration: 0.8s;
        --fallSlideStrength: 0.5;
        --slideStrength: 0.5;
        --position: 0;
    }

    #snow>div {
        position: absolute;
        top: 0;
        left: calc(var(--position) - 20%);
        width: calc(var(--size) * 15px);
        aspect-ratio: 1;
        background: radial-gradient(white, transparent 66%);
        animation: var(--fallDuration) snowFall linear forwards;
    }

    @keyframes snowFall {
        to {
            top: 100%;
            transform: translateX(calc(var(--cWidth) * var(--fallSlideStrength) / 8));
        }
    }
     a {
            text-decoration: none;
            cursor: pointer;
        }
    
    ul {
            list-style: none;
        }
    /* Обнулення дефолтних маржинів для заголовків та параграфів */
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        p {
            margin: 0;
            padding: 0;
        }
    
        /* Обнулення дефолтних маржинів і лівого падіння для списків */
        ul,
        ol {
            margin: 0;
            padding-left: 0;
        }
    
        /* Зроблення зображень блочними елементами */
        img {
            display: block;
        }
    
        button {
            cursor: pointer;
        }
.first-bar{
    height: 70px;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.2);
    margin-bottom: 40px;
}
.logo{
    fill: #A020F0;
    cursor: pointer;
    transition: fill 250ms linear,transform 750ms ease-in-out;

}
.logo:hover,.logo:focus{
    fill: red;
    transform: rotate(360deg);
}
.logo.logo:hover.logo{
    fill: red;
    transform: rotate(360deg);
}
.navig-list{
    display:flex;
    justify-content: center;
    align-items: center;
    column-gap: 6px;
    padding: 15px;
}
.nav-item-text{
    display: inline-block;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5;
            /* 150% */
    letter-spacing: 0.02em;
}
.nav-item-text{
    transition: color 250ms linear;
    color: #333;
}
.nav-item-text:hover, .nav-item-text:focus{
    color:red;
    text-decoration:underline;
}
.container{
    position: relative;
    padding: 15px 10px 10px 10px;
    margin: 0px 30px;
    background-color: aliceblue;
    margin-bottom: 42px;
    border-radius: 25px;
}
.photo-x{
    border-radius: 25px;
    position: absolute;
    top: 20px;
    right: 15px;
    opacity: 0.2;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}
.photo-x:hover,.photo-x:focus{
    opacity: 1;
    transform: scale(1.1);
}
.sapka{
    position: absolute;
    left: 0;
    top:0;
    transform: translate(-40%,-34%);
}
.first-title{
padding-left: 10px;
    font-size: 26px;
    font-weight: 600;
    line-height: 1.5;
                    /* 150% */
    letter-spacing: 0.02em;
    transition: color 250ms linear;
    text-align: center;
}
.first-title:hover,.first-title:focus{
    color: red;
}
.first-title-text{
font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    /* 150% */
    letter-spacing: 0.02em;
}
.last-text{
    padding-bottom: 68px;
}
.akcent{
    color: #A020F0;
    text-transform: uppercase;
    padding-left: 10px;
}
.abzac{
    padding-left: 10px;
}
.ring{
    position: absolute;
    bottom: 7%;
    right: 10%;
    transition:transform 500ms ease-in-out ;
}
.ring:hover{
    transform: scale(1.20);
}
.footer-bar{
    height: 70px;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.2);
}
.footer-text{
    font-size: 26px;
    font-weight: 500;
    line-height: 1.5;
    /* 150% */
    letter-spacing: 0.02em;
    transition: color 250ms linear;
    color: #333;
}
.footer-text:hover,.footer-text:focus{
    color: red;
}
/* ========Слайдер============== */
.slider{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 30px;
}
.item{
height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 20%;
    &:hover{
        flex-basis:70%;
    }
    span{
        font-size: 2rem;
        text-shadow: 0px 0px 10px #000;
        color: azure;
    }
}
.item-1{
    background: url(../images/photo1.webp) no-repeat center center;
    background-size: cover;
}
.item-2 {
    background: url(../images/photo2.webp) no-repeat center center;
    background-size: cover;
}
.item-3 {
    background: url(../images/photo3.webp) no-repeat center center;
    background-size: cover;
}
.item-4 {
    background: url(../images/photo4.webp) no-repeat center center;
    background-size: cover;
}
.item-5 {
    background: url(../images/photo5.webp) no-repeat center center;
    background-size: cover;
}
@media screen and (max-width:640px) {
    .slider{
        height: 100vh;
        flex-flow: column;
    }
    .item{
        width: 100%;
        height: 25vh;
        &:hover{
flex-grow: 30%;
        }
    }
}